.piggyBacker-panel {
    position: relative;
    overflow: auto;
    margin: 16px 0;
    padding: 23px 10px 0;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background: #fff;
    font-size: 13px;
    line-height: 2.1em
}

.piggyBacker-pageTitle{
    font-size: 30px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 30px
}

.piggyBacker-totals {
	font-size: 15px;
	line-height: 1.5;
	margin: 1em;
	margin-left: 50px;
}