/*VIDEO GALLERY*/
/*functional styling*/
.videogallery-con {
  position: relative; }

.videogallery-con.fullbox {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.videogallery {
  position: relative;
  opacity: 1;
  width: 100%;
  height: 300px;
  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  /* IE 9 */
  -webkit-transform-origin: 0% 0%;
  /* Safari and Chrome */
  -moz-transform-origin: 0% 0%;
  /* Firefox */
  -o-transform-origin: 0% 0%;
  /* Opera */ }

.videogallery .main-navigation {
  top: 0;
  margin: 0;
  position: relative; }

.videogallery .main-navigation.menu-left, .videogallery .main-navigation.menu-right {
  float: left; }
.videogallery .main-navigation.menu-right {
  float: right; }
.videogallery .main-navigation.menu-bottom, .videogallery .main-navigation.menu-top {
  float: none; }
.videogallery .navMain {
  position: absolute;
  overflow: hidden;
  top: 0px;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.videogallery .scroller-con.dir-ver .scroller {
  width: 100%; }

.videogallery.nav-outer .navMain {
  position: relative;
  height: auto;
  background: transparent;
  border: 0 !important; }
.videogallery.nav-outer .main-navigation {
  position: relative;
  margin-top: 10px; }
.videogallery.nav-outer .videogallery--navigation-container {
  position: relative;
  height: auto; }

.videogallery.nav-outer .videogallery--navigation-container.four-per-row > * {
  width: 23.5%;
  margin-right: 1%;
  margin-bottom: 1%; }

.videogallery.nav-outer .main-navigation.menu-right .navMain .videogallery--navigation-container.four-per-row > * {
  width: 100%;
  margin-right: 0%;
  margin-bottom: 1%; }

.videogallery .videogallery--adSpace {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1007; }

.videogallery .videogallery--adSpace:empty {
  display: none; }

.videogallery .videogallery--adSpace .vplayer {
  height: 100%; }

.videogallery .videogallery--navigation-container {
  position: absolute;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.videogallery .videogallery--navigation-container.use-easing {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: linear; }

.videogallery .videogallery--navigation-container:after {
  display: block;
  clear: both;
  content: " "; }

.videogallery .navigationThumb {
  cursor: pointer;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

.videogallery .navigationThumb:after {
  content: " ";
  display: block;
  clear: both; }

.videogallery .navigationThumb-content {
  padding: 5px; }

.videogallery .navigationThumb .menuitem-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.videogallery.nav-thumbs .main-navigation.menu-top .navMain .videogallery--navigation-container, .videogallery.nav-thumbs .main-navigation.menu-bottom .navMain .videogallery--navigation-container {
  width: 30000px; }

.videogallery .main-navigation.menu-top .navMain .navigationThumb, .videogallery .main-navigation.menu-bottom .navMain .navigationThumb {
  float: left; }

.videogallery .sliderMain {
  position: relative;
  overflow: hidden; }

.videogallery .sliderMain > .sliderCon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.videogallery .sliderCon > .vplayer {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden; }
.videogallery .sliderCon > .vplayer.currItem {
  opacity: 1;
  visibility: visible; }

.videogallery.transition-slideup .sliderCon > .vplayer {
  top: 100%; }
.videogallery.transition-slideup .sliderCon > .vplayer.transition-slideup-gotoTop {
  top: -100%; }
.videogallery.transition-slideup .sliderCon > .vplayer.currItem {
  top: 0; }

.videogallery .gallery-buttons {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1006; }

.videogallery .embed-button {
  position: absolute;
  right: 10px;
  top: 10px; }

.videogallery .embed-button .handle {
  background: rgba(0, 0, 0, 0.5) url(img/embed.png) no-repeat center center;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 0 0 1px 0 black;
  cursor: pointer; }

.icon img{
	margin-bottom: 4px !important;
}
.contentbox {
	max-width: 60px !important;
	height: 104px !important;
	position: absolute  !important;
	right: 60px !important;
	top: 0 !important;
	width:27px !important; 
}
.thetext{
	max-width: 40px;
}
.videogallery .embed-button .contentbox {
  background: no-repeat scroll center center rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px 0 #000000;
  height: 150px;
  position: absolute;
  right: 60px;
  top: 0;
  width: 300px; }

.videogallery .embed-button .contentbox:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: 301px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.7); }

.videogallery .embed-button .thetext {
  background: no-repeat scroll center center rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px 0 #000000;
  position: absolute;
  left: 15px;
  top: 15px;
  width: 270px;
  height: 120px; }

.videogallery .share-button {
  position: absolute;
  right: 10px;
  top: 60px; }

.videogallery .share-button .handle {
  background: rgba(0, 0, 0, 0.5) url(img/share.png) no-repeat center center;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 0 0 1px 0 black;
  cursor: pointer; }

.videogallery .share-button .contentbox {
  background: no-repeat scroll center center rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px 0 #000000;
  height: 40px;
  position: absolute;
  right: 60px;
  top: 0;
  width: 200px; }

.videogallery .share-button .contentbox:after {
  content: " ";
  position: absolute;
  top: 12px;
  right: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.7); }

.videogallery .share-button .thetext {
  position: relative;
  top: 10px;
  text-align: center; }

.share-button .icon {
  margin-right: 5px;
  top: auto;
  left: auto;
  position: static; }

.videogallery .the-logo {
  position: absolute;
  top: 10px;
  right: 60px;
  z-index: 1005; }

.videogallery .vplayer-tobe > iframe {
  display: none; }

/* ----------------------------   estethic styling*/
.videogallery {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.videogallery.dzsvg-loaded {
  opacity: 1; }

/*----  thumbs ----*/
div.videogallery {
  font-family: Verdana, "Helvetica Neue", "Neue Helvetica", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-size: 0.7rem;
  line-size: 0.8rem; }

.videogallery .main-navigation.menu-bottom .navMain {
  border-top: 1px solid black; }

.videogallery .main-navigation.menu-top .navMain {
  border-bottom: 1px solid black; }

.videogallery .main-navigation.menu-left .navMain {
  border-right: 1px solid black; }

.videogallery .main-navigation.menu-right .navMain {
  border-left: 1px solid black; }

.videogallery .thumb-round {
  width: 90px;
  height: 90px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%; }

.videogallery .thumb-square {
  width: 90px;
  height: 90px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.videogallery .videogallery--navigation-container .navigationThumb {
  color: #FFF;
  background-color: #000;
  left: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid #000;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViNWI1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZjRmNGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #5b5b5b 0%, #4f4f4f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #4f4f4f));
  background: -webkit-linear-gradient(top, #5b5b5b 0%, #4f4f4f 100%);
  background: -o-linear-gradient(top, #5b5b5b 0%, #4f4f4f 100%);
  background: -ms-linear-gradient(top, #5b5b5b 0%, #4f4f4f 100%);
  background: linear-gradient(to bottom, #5b5b5b 0%, #4f4f4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b5b5b', endColorstr='#4f4f4f',GradientType=0 );
  opacity: 0.7; }

.videogallery .videogallery--navigation-container .navigationThumb.active {
  opacity: 1; }

.videogallery .videogallery--navigation-container .navigationThumb:hover {
  opacity: 1; }

/* -- arrows -> functional + estethic*/
.videogallery .navigationThumb.active:after, .videogallery .navigationThumb.active:before {
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  content: " ";
  height: 0;
  width: 0; }

.videogallery .navigationThumb.active:after {
  border-color: rgba(136, 183, 213, 0);
  border-width: 5px; }

.videogallery .navigationThumb.active:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 6px; }

.videogallery .navigationThumb.active:after, .videogallery .navigationThumb.active:before {
  right: 100%; }

.videogallery .navigationThumb.active:after {
  border-right-color: white;
  top: 50%;
  margin-top: -5px; }

.videogallery .navigationThumb.active:before {
  border-right-color: #eeeeee;
  top: 50%;
  margin-top: -6px; }

.videogallery .navigationThumb-content {
  font-size: 11px;
  line-height: 15px;
  color: #ddd; }

.videogallery.nav-outer .videogallery--navigation-container .navigationThumb {
  color: #111;
  background: transparent;
  left: 0px;
  position: relative;
  display: inline-block;
  border-bottom: 0px solid rgba(0, 0, 0, 0.15);
  border-right: 0px solid #000;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  opacity: 0.7; }

.videogallery.nav-outer .navigationThumb-content {
  font-size: 11px;
  background: transparent;
  line-height: 15px;
  color: inherit; }

.videogallery.nav-outer .navigationThumb-content .the-title {
  color: inherit; }

.videogallery .the-title {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  font-size: 13px;
  line-height: 120%;
  color: #fff; }

.videogallery .thumbs-arrow-left {
  background-image: url(img/arrowleft.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  margin-left: -12.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer; }

.videogallery .thumbs-arrow-right {
  background-image: url(img/arrowright.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  margin-left: -12.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer; }

.videogallery .main-navigation .inactive {
  opacity: 0.5;
  cursor: auto; }

.videogallery .imgblock {
  float: left;
  border: 2px solid #fff;
  margin: 6px 8px 6px 6px;
  width: 50px;
  height: 50px; }

.imgfull {
  width: 100%;
  height: 100%; }

.fullwidth {
  width: 100%; }

.videogallery .shadow {
  background: transparent url("./img/shadowbox.png") no-repeat center 0%;
  width: 100%;
  height: 71px;
  margin: 0 auto;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: -40px;
  z-index: 0;
  opacity: 0.5; }

.gallery-precon .all-shadow {
  background: transparent url("./img/all-shadow.png") no-repeat center 0%;
  width: 925px;
  height: 50px;
  margin: 0 auto;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }

.videogallery-con.skin-laptop .videogallery {
  position: absolute;
  left: 19%;
  top: 11%; }

.videogallery-con.skin-laptop .thelaptopbg {
  position: relative;
  width: 100%; }

/* ------MODES */
/* ------mode rotator*/
.videogallery.mode-rotator .main-navigation .navMain {
  border-top: 1px solid #222;
  background: #131313;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.videogallery.mode-rotator .main-navigation .rotator-btn-gotoNext {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url(img/arrow-right.png);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer; }

.videogallery.mode-rotator .main-navigation .rotator-btn-gotoPrev {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url(img/arrow-left.png);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 25px;
  top: 5px;
  cursor: pointer; }

.videogallery.mode-rotator .main-navigation .descriptionsCon {
  position: absolute;
  top: 4px;
  left: 10px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  width: 50%; }

/* -descriptionCon */
.videogallery.mode-rotator .main-navigation .descriptionsCon .desc {
  position: absolute;
  top: 20px;
  left: 0;
  color: #c8c8c8;
  width: 50%;
  transition-property: top, opacity, color, text-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: top, opacity, color, text-shadow;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: top, opacity, color, text-shadow;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: top, opacity, color, text-shadow;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: top, opacity, color, text-shadow;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.videogallery.mode-rotator .main-navigation .descriptionsCon .desc.currDesc {
  position: absolute;
  top: 0px;
  left: 0; }

.videogallery.mode-rotator .main-navigation .descriptionsCon .desc.pastDesc {
  position: absolute;
  top: -20px;
  left: 0;
  color: rgba(200, 200, 200, 0);
  text-shadow: 0 0 15px rgba(200, 200, 200, 0.5); }

/* ------mode rotator3d*/
.videogallery.mode-rotator3d .main-navigation .navMain {
  border: 0; }

.videogallery.mode-rotator3d .rotator3d-item {
  top: 10% !important;
  left: 25% !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  opacity: 0;
  visibility: hidden;
  z-index: 25;
  position: absolute;
  transition-property: transform, left, opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: transform, left, opacity, visibility;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: transform, left, opacity, visibility;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: transform, left, opacity, visibility;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: transform, left, opacity, visibility;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.videogallery.mode-rotator3d .rotator3d-item.currItem.is_fullscreen {
  position: fixed;
  top: 0% !important;
  left: 0% !important;
  width: 100% !important;
  height: 100%; }

.videogallery.mode-rotator3d .rotator3d-item.nextItem {
  top: 10% !important;
  left: 65% !important;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform-style: preserve-3d;
  opacity: 1;
  visibility: visible;
  z-index: 29; }

.videogallery.mode-rotator3d .rotator3d-item.prevItem {
  top: 10% !important;
  left: 5% !important;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform-style: preserve-3d;
  opacity: 1;
  visibility: visible;
  z-index: 28; }

.videogallery.mode-rotator3d .rotator3d-item .previewImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, visibility;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, visibility;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, visibility;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, visibility;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }
.videogallery.mode-rotator3d .rotator3d-item div.previewImg {
  background-size: cover;
  background-position: center center; }
.videogallery.mode-rotator3d .rotator3d-item.currItem {
  top: 10% !important;
  left: 25% !important;
  position: absolute !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
  visibility: visible;
  z-index: 30; }

.videogallery.mode-rotator3d .rotator3d-item.currItem .previewImg {
  opacity: 0;
  visibility: hidden; }

/* ------mode wall*/
.videogallery.mode-wall .main-navigation {
  display: none; }

.videogallery.mode-wall .sliderCon {
  position: relative;
  width: auto;
  height: auto; }

.videogallery.mode-wall .embed-button {
  display: none; }

.videogallery.mode-wall .share-button {
  display: none; }

.videogallery.mode-wall .main-navigation .navMain {
  border: 0; }

.videogallery.mode-wall .main-navigation .navMain {
  display: none; }

.videogallery.mode-wall .vgwall-item {
  display: inline-block;
  cursor: pointer;
  border: 5px solid #fff;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4); }

.videogallery.mode-wall .vgwall-item .videoTitle {
  font-family: "Helvetica Neue", "Neue Helvetica", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  color: #121212; }

.videogallery.mode-wall .vgwall-item .menuDescription {
  display: none; }

.videogallery.mode-wall .vgwall-item .dzstag-tobe {
  display: none; }

.videogallery.mode-wall .vgwall-item .videoDescription {
  display: block;
  position: relative; }

.videogallery.mode-wall {
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.videogallery.mode-wall .sliderCon {
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.videogallery.mode-wall .vgwall-item.masonry-brick {
  display: block;
  margin-right: 1%;
  position: absolute !important;
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.videogallery.mode-wall .vgwall-item .previewImg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.videogallery.mode-wall.mode-rotator3d .rotator3d-item.currItem {
  top: 10% !important;
  left: 25% !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
  visibility: visible;
  z-index: 30; }

.videogallery.mode-wall.mode-rotator3d .rotator3d-item.nextItem {
  top: 10% !important;
  left: 65% !important;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform-style: preserve-3d;
  opacity: 1;
  visibility: visible;
  z-index: 29; }

.videogallery.mode-wall.mode-rotator3d .rotator3d-item.prevItem {
  top: 10% !important;
  left: 5% !important;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform-style: preserve-3d;
  opacity: 1;
  visibility: visible;
  z-index: 28; }

.videogallery.mode-wall.mode-rotator3d .rotator3d-item.currItem .previewImg {
  opacity: 0;
  visibility: hidden; }

.videogallery-con .preloader {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  z-index: 150;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75) url(./img/preloader.gif) center no-repeat;
  opacity: 0.4;
  z-index: 951; }

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
.videogallery-con .css-preloader {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition-property: opacity, display, visibility, transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, display, visibility, transform;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, display, visibility, transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, display, visibility, transform;
  -o-transition-duration: 1s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, display, visibility, transform;
  -ms-transition-duration: 1s;
  -ms-transition-timing-function: ease-out; }
  .videogallery-con .css-preloader .the-icon {
    width: 50px;
    height: 50px;
    background: transparent url(./img/preloader.png) center no-repeat;
    -webkit-apply_transition: rotating 0.9s ease-out infinite;
    -moz-apply_transition: rotating 0.9s linear infinite;
    -ms-apply_transition: rotating 0.9s linear infinite;
    -o-apply_transition: rotating 0.9s linear infinite;
    apply_transition: rotating 0.9s ease-out infinite; }

.html5-button-con {
  margin-top: 10px; }

.html5-button {
  background: #f9c667;
  background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9c667), color-stop(100%, #f79621));
  background: -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background: -o-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background: -ms-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background: linear-gradient(top, #f9c667 0%, #f79621 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 1px 7px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 -1px 1px rgba(0, 0, 0, 0.3) inset, 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out; }

.html5-button:hover {
  opacity: 0.8; }

.vplayer-tobe .subtitles-con-input {
  display: none; }

.vplayer-tobe .menuDescription {
  display: none; }

.vplayer-tobe > .videoDescription {
  display: none; }

.vplayer-tobe > .adSource {
  display: none; }

.vplayer-tobe > .dzstag-tobe {
  display: none; }

/*====VIDEO PLAYER
==================*/
/*functional styling*/
.vplayer {
  position: relative;
  width: 100%;
  height: 300px;
  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  /* IE 9 */
  -webkit-transform-origin: 0% 0%;
  /* Safari and Chrome */
  -moz-transform-origin: 0% 0%;
  /* Firefox */
  -o-transform-origin: 0% 0%;
  /* Opera */ }

.vplayer {
  opacity: 0;
  visibility: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition-property: opacity, visibility, top;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, visibility, top;
  -moz-transition-duration: 0.8s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, visibility, top;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, visibility, top;
  -o-transition-duration: 0.8s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, visibility, top;
  -ms-transition-duration: 0.8s;
  -ms-transition-timing-function: ease-out; }
  .vplayer * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .vplayer > object {
    width: 100%;
    height: 100% !important; }
  .vplayer > video {
    visibility: visible; }
  .vplayer > div.div-full-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center; }

.vplayer.safe, .vplayer.dzsvp-loaded {
  opacity: 1;
  visibility: visible; }

.vplayer.currItem {
  opacity: 1;
  z-index: 950; }

.vplayer .background {
  position: absolute;
  width: 100%; }

.vplayer video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.vplayer .controls {
  position: absolute;
  top: auto;
  bottom: 0;
  lett: 0;
  z-index: 9;
  width: 100%;
  height: 10%; }

.vplayer .controls:empty {
  display: none; }

.vplayer .video-description {
  position: absolute;
  z-index: 10;
  max-width: 90%; }

.vplayer .video-overlay {
  /*----  preview image  ----*/
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.vplayer .cover-image {
  /*----  preview image  ----*/
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.vplayer .cover-image > .the-div-image {
  /*----  preview image  ----*/
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #111; }

.vplayer .cover-image > img {
  display: block;
  width: 100%;
  height: 100%; }

.vplayer > .videoDescription {
  display: none; }

.vplayer.is_fullscreen {
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  left: 0 !important;
  top: 0 !important; }

.vplayer .infoText {
  /*----  description ----*/
  position: absolute;
  opacity: 0; }

.vplayer .playcontrols {
  cursor: pointer;
  position: absolute; }

.vplayer .playSimple {
  position: absolute; }

.vplayer .playHover {
  position: absolute; }

.vplayer .pauseSimple {
  position: absolute; }

.vplayer .pauseHover {
  position: absolute; }

.vplayer .scrubbar {
  position: absolute;
  cursor: pointer; }

.vplayer .volumecontrols {
  position: absolute;
  cursor: pointer; }

.vplayer .volume_active {
  overflow: hidden;
  position: absolute; }

.vplayer .volume_cut {
  overflow: hidden;
  visibility: hidden;
  position: absolute; }

.vplayer .timetext {
  position: absolute; }

.vplayer .menuDescription {
  display: none; }

.vplayer .hdbutton-con {
  width: 30px;
  height: 28px;
  position: absolute;
  right: 80px;
  bottom: 1px;
  cursor: pointer;
  display: none; }

.vplayer .hdbutton-con .hdbutton-normal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url(img/orman_hd.png) no-repeat center center; }

.vplayer .hdbutton-con .hdbutton-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url(img/orman_hdh.png) no-repeat center center;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, visibility;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, visibility;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, visibility;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, visibility;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer .hdbutton-con.active .hdbutton-hover {
  opacity: 1; }

.vplayer .hdbutton-con:hover > .hdbutton-hover {
  opacity: 1; }

.vplayer .audioImg {
  top: 0;
  left: 0;
  position: absolute; }

.sliderCon-ie8 {
  position: absolute;
  top: 0;
  lett: 0;
  z-index: 999; }

.vplayer-ie8 {
  position: absolute;
  top: 0;
  lett: 0;
  z-index: 999; }

.vplayer-ie8 .controls {
  position: absolute !important;
  top: 0 !important;
  lett: 0 !important;
  z-index: 999;
  display: block; }

.vplayer-ie8 .background {
  position: absolute;
  top: 0;
  lett: -500px;
  z-index: 999; }

.vplayer > .adSource {
  display: none; }

/*===============================
/*===========estethic styling*/
.vplayer .background {
  height: 30px;
  background: #131313;
  bottom: 0; }

/****** info/ description *****/
.vplayer .info {
  /*----  info icon  ----*/
  left: 15px;
  top: 15px;
  background: url("img/info.png");
  width: 50px;
  height: 50px; }

.vplayer .infoText {
  /*----  description ----*/
  top: 95px;
  left: 30px; }

.vplayer .descriptionText {
  background-color: #111111;
  color: #ffffff;
  padding: 10px;
  opacity: 0.8; }

/******* play *********/
.vplayer .playcontrols {
  bottom: 0px;
  left: 0px; }

.vplayer .playSimple {
  left: 0px;
  bottom: 0;
  background: url("img/play.png");
  width: 33px;
  height: 28px; }

.vplayer .playHover {
  left: 0px;
  bottom: 0;
  opacity: 0;
  background: url("img/playh.png");
  width: 33px;
  height: 28px;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer .pauseSimple {
  left: 0px;
  bottom: 0;
  background: url("img/stop.png");
  width: 33px;
  height: 28px;
  visibility: hidden; }

.vplayer .pauseHover {
  left: 0px;
  bottom: 0;
  opacity: 0;
  background: url("img/stoph.png");
  width: 33px;
  height: 28px;
  visibility: hidden;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer .playcontrols:hover .pauseHover, .vplayer .playcontrols:hover .playHover {
  opacity: 1; }

/******* scrub *********/
.vplayer .scrubbar {
  bottom: 9px;
  left: 45px; }

.vplayer .scrub-bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #444;
  height: 12px; }

.vplayer .scrub-buffer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #777;
  height: 12px; }

.vplayer .scrub {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #aaa;
  height: 12px; }

.vplayer .scrubBox {
  position: absolute;
  background: #ffffff;
  border: 1px solid #000000;
  width: 50px;
  bottom: 19px;
  left: -15px;
  text-align: center;
  padding: 0px 0px;
  font-size: 10px;
  height: auto;
  opacity: 0.9;
  visibility: hidden;
  pointer-events: none;
  font-family: "Helvetica Neue", "Neue Helvetica", Helvetica, Arial, sans-serif; }

.vplayer .scrubBox:after, .scrubBox:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.vplayer .scrubBox:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 5px;
  left: 15px;
  margin-left: -5px; }

.vplayer .scrubBox:before {
  border-color: transparent;
  border-top-color: #000000;
  border-width: 6px;
  left: 15px;
  margin-left: -6px; }

.skipad-con {
  position: absolute;
  bottom: 25px;
  right: 25px;
  padding: 5px;
  z-index: 78;
  background-color: rgba(0, 0, 0, 0.3); }

.skipad {
  background: #fafafa;
  color: #555;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  padding: 5px 15px;
  z-index: 55; }

.skipad:hover {
  opacity: 1; }

/******* timing *********/
.vplayer .timetext {
  bottom: 3px;
  right: 80px;
  font-family: Helvetica,Arial,sans-serif; }

.vplayer .curr-timetext {
  color: #fff;
  margin-right: 12px;
  font-size: 13px; }

.vplayer .total-timetext {
  color: #aaaaaa;
  font-size: 11px;
  position: relative; }

/******* volume *********/
.vplayer .volumecontrols {
  bottom: 0px;
  right: 80px; }

.vplayer .volumeicon {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url("img/volumeicon.png");
  width: 14px;
  height: 28px; }

.vplayer .volume_static {
  position: absolute;
  bottom: 2px;
  left: 16px;
  background: url("img/volumestatic.png");
  width: 26px;
  height: 24px; }

.vplayer .volume_active {
  bottom: 2px;
  left: 16px;
  background: url("img/volumeactive.png");
  width: 26px;
  height: 24px; }

.vplayer .volume_cut {
  bottom: 5px;
  left: 0px;
  background: url("img/volumecut.png");
  width: 14px;
  height: 24px; }

/******* fullscreen*********/
.vplayer .fscreencontrols {
  position: absolute;
  cursor: pointer;
  bottom: 30px;
  right: 50px; }

.vplayer .full {
  overflow: hidden;
  position: absolute;
  top: 2px;
  left: 16px;
  background: url("img/full.png");
  width: 33px;
  height: 28px; }

.vplayer .fullHover {
  overflow: hidden;
  position: absolute;
  top: 2px;
  left: 16px;
  opacity: 0;
  background: url("img/fullh.png");
  width: 33px;
  height: 28px;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer .fscreencontrols:hover .fullHover {
  opacity: 1; }

/* --- tags */
.vplayer .dzstag-tobe {
  display: none; }

.vplayer .dzstag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transition-property: visibility, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: visibility, opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: visibility, opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: visibility, opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: visibility, opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer .dzstag.active {
  opacity: 1;
  visibility: visible; }

.vplayer .dzstag .tag-box {
  border: 1px dashed #555;
  width: 50px;
  height: 50px; }

.vplayer .dzstag .tag-box a {
  width: 100%;
  height: 100%;
  content: ",";
  display: block; }

.vplayer .dzstag .tag-content {
  position: absolute;
  right: 0;
  background: #555;
  color: #eee;
  display: inline-block;
  padding: 1px 5px; }

.vplayer .subtitles-con-input {
  display: none; }
.vplayer .dzstag.subtitle-tag {
  top: auto;
  bottom: 48px;
  width: 90%;
  left: 5%;
  background-color: rgba(20, 20, 20, 0.8);
  color: #fff;
  padding: 5px 10px;
  text-align: center; }

.vplayer .video-description {
  top: 10px;
  left: 10px;
  font-family: Verdana, "Helvetica Neue", "Neue Helvetica", Helvetica, Arial, sans-serif; }

.vplayer .video-description .video-title {
  padding: 5px 8px;
  background: rgba(255, 255, 255, 0.5);
  color: #111;
  font-size: 14px;
  width: auto; }

.vplayer .video-description .video-subdescription {
  position: absolute;
  top: 42px;
  left: 0px;
  padding: 5px 8px;
  background: rgba(255, 255, 255, 0.5);
  color: #111;
  font-size: 11px; }

/*------------ misc -------------*/
.error {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center; }

.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url("./img/cross16.png"); }

.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px; }

.code {
  font-size: 12px;
  color: #aaa; }

/* -------- skin navtraparent */
.videogallery.skin_navtransparent .navMain {
  background: transparent; }

.videogallery.skin_navtransparent .main-navigation.menu-bottom .navMain {
  border-top: 0px solid black; }

.videogallery.skin_navtransparent .main-navigation.menu-top .navMain {
  border-bottom: 0px solid black; }

.videogallery.skin_navtransparent .main-navigation.menu-left .navMain {
  border-right: 0px solid black; }

.videogallery.skin_navtransparent .main-navigation.menu-right .navMain {
  border-left: 0px solid black; }

.videogallery.skin_navtransparent .navigationThumb {
  color: #FFF;
  background-color: #000;
  left: 0px;
  border-bottom: 0px solid #000;
  border-right: 0px solid #000;
  background: transparent; }

.videogallery.skin_navtransparent .navigationThumb .thumb-round {
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: box-shadow;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: box-shadow;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: box-shadow;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.videogallery.skin_navtransparent .navigationThumb.active .thumb-round {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.8); }

/* ===========video player - skin aurora */
.vplayer.skin_aurora .playSimple {
  left: 0px;
  bottom: 1px;
  background: url("img/orman_play.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 33px;
  height: 28px; }

.vplayer.skin_aurora .playHover {
  left: 0px;
  bottom: 1px;
  opacity: 0;
  background: url("img/orman_playh.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 33px;
  height: 28px; }

.vplayer.skin_aurora .pauseSimple {
  left: 0px;
  bottom: 1px;
  background: url("img/orman_stop.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 33px;
  height: 28px; }

.vplayer.skin_aurora .pauseHover {
  left: 0px;
  bottom: 1px;
  background: url("img/orman_stop.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 33px;
  height: 28px; }

.vplayer.skin_aurora .hdbutton-con {
  display: block; }

.vplayer.skin_aurora .background {
  height: 30px;
  bottom: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5NDk0OSIgc3RvcC1vcGFjaXR5PSIwLjg2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTM1MzUiIHN0b3Atb3BhY2l0eT0iMC44NCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(73, 73, 73, 0.86) 0%, rgba(53, 53, 53, 0.84) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(73, 73, 73, 0.86)), color-stop(100%, rgba(53, 53, 53, 0.84)));
  background: -webkit-linear-gradient(top, rgba(73, 73, 73, 0.86) 0%, rgba(53, 53, 53, 0.84) 100%);
  background: -o-linear-gradient(top, rgba(73, 73, 73, 0.86) 0%, rgba(53, 53, 53, 0.84) 100%);
  background: -ms-linear-gradient(top, rgba(73, 73, 73, 0.86) 0%, rgba(53, 53, 53, 0.84) 100%);
  background: linear-gradient(to bottom, rgba(73, 73, 73, 0.86) 0%, rgba(53, 53, 53, 0.84) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db494949', endColorstr='#d6353535',GradientType=0 );
  border-top: 1px solid rgba(0, 0, 0, 0.5); }

.vplayer.skin_aurora .scrubbar {
  bottom: 8px;
  left: 45px; }

.vplayer.skin_aurora .scrub-buffer {
  position: absolute;
  left: 0px;
  bottom: 2px;
  background: #464849;
  height: 8px; }

.vplayer.skin_aurora .scrub {
  position: absolute;
  left: 0px;
  bottom: 2px;
  background: #aaa;
  height: 8px;
  background: transparent url(img/orman_progress.png) repeat-x center center; }

.vplayer.skin_aurora .scrub-bg {
  position: absolute;
  left: -2px;
  bottom: 0px;
  background: #262929;
  box-shadow: 0 0 2px 0 black inset;
  height: 12px; }

.vplayer.skin_aurora .timetext {
  display: none; }

.vplayer.skin_aurora .scrubBox {
  position: absolute;
  background: #464849;
  border: 1px solid #000000;
  color: #eee;
  width: 40px;
  bottom: 19px;
  left: -15px;
  text-align: center;
  padding: 0px 0px;
  font-size: 10px;
  height: auto;
  opacity: 0.9;
  pointer-events: none;
  font: Helvetica, Arial , sans-serif; }

.vplayer.skin_aurora .scrubBox:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #464849;
  border-width: 3px;
  left: 15px;
  margin-left: -3px; }

.vplayer.skin_aurora .scrubBox:before {
  border-color: transparent;
  border-top-color: #111;
  border-width: 4px;
  left: 15px;
  margin-left: -4px; }

.vplayer.skin_aurora .scrubBox-prog:empty {
  display: none; }

.vplayer.skin_aurora .scrubBox-prog {
  position: absolute;
  background: #ffffff;
  color: #111;
  border: 1px solid #000000;
  width: 50px;
  bottom: 19px;
  left: -15px;
  text-align: center;
  padding: 0px 0px;
  font-size: 10px;
  height: auto;
  opacity: 0.9;
  pointer-events: none;
  font: Helvetica, Arial , sans-serif; }

.vplayer.skin_aurora .scrubBox-prog:after, .vplayer.skin_aurora .scrubBox-prog:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.vplayer.skin_aurora .scrubBox-prog:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 5px;
  left: 15px;
  margin-left: -5px; }

.vplayer.skin_aurora .scrubBox-prog:before {
  border-color: transparent;
  border-top-color: #000000;
  border-width: 6px;
  left: 15px;
  margin-left: -6px; }

/******* volume *********/
.vplayer.skin_aurora .volumecontrols {
  bottom: 0px;
  right: 80px; }

.vplayer.skin_aurora .volumeicon {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url("img/orman_volumeicon.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 14px;
  height: 28px; }

.vplayer.skin_aurora .volume_static {
  position: absolute;
  bottom: 3px;
  left: 16px;
  background: url("img/orman_volumestatic.png");
  background-position: center center;
  background-repeat: repeat-x;
  width: 26px;
  height: 24px; }

.vplayer.skin_aurora .volume_active {
  bottom: 3px;
  left: 17px;
  background: url("img/orman_volumeactive.png");
  background-position: center center;
  background-repeat: repeat-x;
  width: 24px;
  height: 24px; }

.vplayer.skin_aurora .volume_cut {
  bottom: 5px;
  left: 0px;
  background: url("img/volumecut.png");
  width: 14px;
  height: 24px; }

/******* fullscreen*********/
.vplayer.skin_aurora .fscreencontrols {
  position: absolute;
  cursor: pointer;
  bottom: 30px;
  right: 50px; }

.vplayer.skin_aurora .full {
  overflow: hidden;
  position: absolute;
  top: 1px;
  left: 16px;
  background: url("img/orman_full.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 33px;
  height: 28px; }

.vplayer.skin_aurora .fullHover {
  overflow: hidden;
  position: absolute;
  top: 1px;
  left: 16px;
  opacity: 0;
  background: url("img/orman_fullh.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 33px;
  height: 28px; }

/* ===========video gallery - skin_pro */
.videogallery.skin_pro .navigationThumb {
  background: #555; }

.videogallery.skin_pro .navigationThumb-content {
  padding: 5px;
  width: 100%;
  overflow: hidden; }

.videogallery.skin_pro .navigationThumb-content .thumb-square {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.videogallery.skin_pro .navigationThumb-content .thumb-square:after {
  display: block;
  width: 40px;
  height: 40px;
  content: " ";
  background: transparent url(img/plus-image.png) center center no-repeat;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: -50%;
  left: 50%;
  transition-property: top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: top;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: top;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: top;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.videogallery.skin_pro .navigationThumb-content:hover .thumb-square:after {
  top: 50%; }

.videogallery.skin_pro .navigationThumb.active .navigationThumb-content .thumb-square:after {
  top: 50%; }

/* ===========video player - skin_pro */
.vplayer.skin_pro {
  overflow: hidden; }

.vplayer.skin_pro .playcontrols {
  position: absolute;
  bottom: 1px;
  left: 10px; }

.vplayer.skin_pro .controls {
  height: 37px; }

.vplayer.skin_pro .controls {
  bottom: 0;
  transition-property: bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: bottom;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: bottom;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: bottom;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer.skin_pro.mouse-is-out .controls {
  transition-delay: 3s;
  -moz-transition-delay: 3s;
  -webkit-transition-delay: 3s;
  -o-transition-delay: 3s;
  bottom: -37px; }

.no-mouse-out .vplayer.skin_pro.mouse-is-out .controls {
  bottom: 0; }

.vplayer.skin_pro .playSimple {
  left: 0px;
  bottom: 5px;
  background: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  width: 0px;
  height: 0px;
  content: " ";
  border: solid transparent;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #aaaaaa;
  border-width: 8px;
  border-left-width: 15px;
  left: 100%;
  margin-left: 0px;
  outline: 1px solid transparent;
  transition-property: background, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: background, border-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: background, border-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: background, border-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: background, border-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer.skin_pro .playHover {
  display: none; }

.vplayer.skin_pro .pauseSimple {
  left: 0px;
  bottom: 5px;
  background: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px; }

.vplayer.skin_pro .pauseSimple .pause-part-1, .vplayer.skin_pro .pauseSimple .pause-part-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background: #aaaaaa;
  transition-property: background, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: background, border-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: background, border-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: background, border-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: background, border-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer.skin_pro .pauseSimple .pause-part-2 {
  left: auto;
  right: 0; }

.vplayer.skin_pro .pauseHover {
  display: none; }

.vplayer.skin_pro .playcontrols:hover .playSimple {
  border-left-color: #dddddd; }

.vplayer.skin_pro .playcontrols:hover .pauseSimple .pause-part-1, .vplayer.skin_pro .playcontrols:hover .pauseSimple .pause-part-2 {
  background: #dddddd; }

.vplayer.skin_pro .hdbutton-con {
  display: block; }

.vplayer.skin_pro .background {
  height: 30px;
  width: 100%;
  bottom: 0;
  background: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.5); }

.vplayer.skin_pro .scrubbar {
  bottom: 29px;
  left: 0;
  height: 12px; }

.vplayer.skin_pro .scrub-bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #333;
  box-shadow: 0 0 0px 0 black inset;
  height: 12px; }

.vplayer.skin_pro .scrub-buffer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #555;
  height: 12px; }

.vplayer.skin_pro .scrub {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #aaa;
  height: 12px;
  background: #db4343; }

/******* timing *********/
.vplayer.skin_pro .timetext {
  position: relative;
  right: auto;
  bottom: auto;
  display: inline-block;
  font-size: 13px;
  margin-top: 14px;
  margin-left: 50px;
  pointer-events: none; }

.vplayer.skin_pro .scrubBox {
  position: absolute;
  background: #464849;
  border: 1px solid #000000;
  color: #eee;
  width: 40px;
  bottom: 19px;
  left: -15px;
  text-align: center;
  padding: 0px 0px;
  font-size: 10px;
  height: auto;
  opacity: 0.9;
  pointer-events: none;
  font: Helvetica, Arial , sans-serif; }

.vplayer.skin_pro .scrubBox:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #464849;
  border-width: 3px;
  left: 15px;
  margin-left: -3px; }

.vplayer.skin_pro .scrubBox:before {
  border-color: transparent;
  border-top-color: #111;
  border-width: 4px;
  left: 15px;
  margin-left: -4px; }

.vplayer.skin_pro .scrubBox-prog:empty {
  display: none; }

.vplayer.skin_pro .scrubBox-prog {
  position: absolute;
  background: #ffffff;
  color: #111;
  border: 1px solid #000000;
  width: 50px;
  bottom: 19px;
  left: -15px;
  text-align: center;
  padding: 0px 0px;
  font-size: 10px;
  height: auto;
  opacity: 0.9;
  pointer-events: none;
  font: Helvetica, Arial , sans-serif; }

.vplayer.skin_pro .scrubBox-prog:after, .vplayer.skin_pro .scrubBox-prog:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.vplayer.skin_pro .scrubBox-prog:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 5px;
  left: 15px;
  margin-left: -5px; }

.vplayer.skin_pro .scrubBox-prog:before {
  border-color: transparent;
  border-top-color: #000000;
  border-width: 6px;
  left: 15px;
  margin-left: -6px; }

/******* volume *********/
.vplayer.skin_pro .volumecontrols {
  bottom: 0px;
  right: 80px; }

.vplayer.skin_pro .volumeicon {
  position: absolute;
  bottom: 10px;
  left: 0px;
  background: #aaaaaa;
  background-position: center center;
  background-repeat: no-repeat;
  width: 7px;
  height: 7px; }

.vplayer.skin_pro .volumeicon:before {
  position: absolute;
  left: -4px;
  bottom: -3px;
  background: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  width: 0px;
  height: 0px;
  content: " ";
  border: solid transparent;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #aaaaaa;
  border-width: 7px;
  margin-left: 0px;
  outline: 1px solid transparent;
  transition-property: background, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: background, border-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: background, border-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: background, border-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: background, border-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer.skin_pro .volumeicon:hover {
  background: #dddddd; }

.vplayer.skin_pro .volumeicon:hover:before {
  border-right-color: #dddddd; }

.vplayer.skin_pro .volume_static {
  position: absolute;
  bottom: 10px;
  left: 16px;
  background: #aaaaaa;
  background-position: center center;
  background-repeat: repeat-x;
  width: 26px;
  height: 6px; }

.vplayer.skin_pro .volume_active {
  bottom: 10px;
  left: 16px;
  background: #db4343;
  background-position: center center;
  background-repeat: repeat-x;
  width: 24px;
  height: 6px; }

.vplayer.skin_pro .volume_cut {
  display: none; }

/******* fullscreen*********/
.vplayer.skin_pro .fscreencontrols {
  position: absolute;
  cursor: pointer;
  bottom: 30px;
  right: 25px; }

.vplayer.skin_pro .full {
  overflow: hidden;
  position: absolute;
  top: 9px;
  left: 0px;
  background: transparent;
  width: 15px;
  height: 15px; }

.vplayer.skin_pro .fullHover {
  display: none; }

.vplayer.skin_pro .hdbutton-con {
  width: 30px;
  height: 21px;
  position: absolute;
  right: 80px;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 11px; }

.vplayer.skin_pro .hdbutton-con .hdbutton-normal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  color: #aaaaaa; }

.vplayer.skin_pro .hdbutton-con .hdbutton-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  color: #db4343;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer.skin_pro .hdbutton-con.active .hdbutton-normal {
  opacity: 0; }

.vplayer.skin_pro .hdbutton-con.active .hdbutton-hover {
  opacity: 1; }

.vplayer.skin_pro .hdbutton-con:hover > .hdbutton-hover {
  opacity: 1; }

/* ===========video player - skin_pro END */
/* ===========video player - skin_bigplay */
.vplayer.skin_bigplay {
  overflow: hidden; }

.vplayer.skin_bigplay .controls {
  bottom: auto;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transition-property: bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: bottom;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: bottom;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: bottom;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer.skin_bigplay .playcontrols {
  position: absolute;
  bottom: auto;
  left: 50%;
  top: 50%; }

.vplayer.skin_bigplay .playSimple {
  left: 0px;
  bottom: 5px;
  background: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  width: 0px;
  height: 0px;
  content: " ";
  border: solid transparent;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #aaaaaa;
  border-width: 30px;
  border-left-width: 60px;
  left: 0%;
  top: 0%;
  margin-left: -25px;
  margin-top: -30px;
  outline: 1px solid transparent;
  transition-property: background, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: background, border-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: background, border-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: background, border-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: background, border-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer.skin_bigplay .playHover {
  display: none; }

.vplayer.skin_bigplay .pauseSimple {
  left: 0px;
  bottom: auto;
  top: 1px;
  background: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px; }

.vplayer.skin_bigplay .pauseSimple .pause-part-1, .vplayer.skin_bigplay .pauseSimple .pause-part-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 100%;
  background: #aaaaaa;
  transition-property: background, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: background, border-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: background, border-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: background, border-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: background, border-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.vplayer.skin_bigplay .pauseSimple .pause-part-2 {
  left: auto;
  right: 0; }

.vplayer.skin_bigplay .pauseHover {
  display: none; }

.vplayer.skin_bigplay .playcontrols:hover .playSimple {
  border-left-color: #999999; }

.vplayer.skin_bigplay .playcontrols:hover .pauseSimple .pause-part-1, .vplayer.skin_bigplay .playcontrols:hover .pauseSimple .pause-part-2 {
  background: #999999; }

.vplayer.skin_bigplay .background {
  height: 120px;
  width: 120px;
  margin-left: -60px;
  margin-top: -60px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  bottom: 0;
  background: #333333;
  opacity: 0.7; }

.vplayer.skin_bigplay .hdbutton-con {
  display: none; }

.vplayer.skin_bigplay .scrubbar {
  display: none; }

.vplayer.skin_bigplay .scrub-bg {
  display: none; }

.vplayer.skin_bigplay .scrub-buffer {
  display: none; }

.vplayer.skin_bigplay .scrub {
  display: none; }

/******* timing *********/
.vplayer.skin_bigplay .timetext {
  display: none; }

.vplayer.skin_bigplay .scrubBox {
  display: none; }

.vplayer.skin_bigplay .scrubBox:after {
  display: none; }

.vplayer.skin_bigplay .scrubBox:before {
  display: none; }

.vplayer.skin_bigplay .scrubBox-prog:empty {
  display: none; }

.vplayer.skin_bigplay .scrubBox-prog {
  display: none; }

.vplayer.skin_bigplay .scrubBox-prog:after, .vplayer.skin_bigplay .scrubBox-prog:before {
  display: none; }

.vplayer.skin_bigplay .scrubBox-prog:after {
  display: none; }

.vplayer.skin_bigplay .scrubBox-prog:before {
  display: none; }

/******* volume *********/
.vplayer.skin_bigplay .volumecontrols {
  display: none; }

.vplayer.skin_bigplay .volumeicon {
  display: none; }

.vplayer.skin_bigplay .volumeicon:before {
  display: none; }

.vplayer.skin_bigplay .volumeicon:hover {
  display: none; }

.vplayer.skin_bigplay .volumeicon:hover:before {
  display: none; }

.vplayer.skin_bigplay .volume_static {
  display: none; }

.vplayer.skin_bigplay .volume_active {
  display: none; }

.vplayer.skin_bigplay .volume_cut {
  display: none; }

/******* fullscreen*********/
.vplayer.skin_bigplay .fscreencontrols {
  display: none; }

/* ===========video player - skin_bigplay END */
.vplayer.skin_noskin .controls {
  display: none; }

.vplayer.skin_bluescrubtop .controls {
  top: 0;
  height: 40px; }
  .vplayer.skin_bluescrubtop .controls .background, .vplayer.skin_bluescrubtop .controls .playcontrols, .vplayer.skin_bluescrubtop .controls .timetext, .vplayer.skin_bluescrubtop .controls .volumecontrols, .vplayer.skin_bluescrubtop .controls .fscreencontrols {
    display: none; }
.vplayer.skin_bluescrubtop .scrubbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; }
  .vplayer.skin_bluescrubtop .scrubbar .scrubBox {
    display: none; }
  .vplayer.skin_bluescrubtop .scrubbar .scrub-bg, .vplayer.skin_bluescrubtop .scrubbar .scrub-buffer {
    background: transparent;
    bottom: auto;
    top: 0;
    height: 100%; }
  .vplayer.skin_bluescrubtop .scrubbar .scrub {
    background: #59c8ef;
    opacity: 0.3;
    height: 100%; }

.vplayer.skin_avanti .controls {
  bottom: 0;
  height: 40px; }
  .vplayer.skin_avanti .controls .background {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
  .vplayer.skin_avanti .controls .playcontrols {
    bottom: auto;
    left: 12px;
    top: 8px; }
    .vplayer.skin_avanti .controls .playcontrols .playSimple {
      background-image: url(img/skinmove_play.png); }
    .vplayer.skin_avanti .controls .playcontrols .playHover {
      background-image: url(img/skinmove_playhover.png); }
    .vplayer.skin_avanti .controls .playcontrols .pauseSimple {
      background-image: url(img/skinmove_pause.png); }
    .vplayer.skin_avanti .controls .playcontrols .pauseHover {
      background-image: url(img/skinmove_pausehover.png); }
  .vplayer.skin_avanti .controls .playSimple, .vplayer.skin_avanti .controls .playHover, .vplayer.skin_avanti .controls .pauseSimple, .vplayer.skin_avanti .controls .pauseHover {
    top: 0;
    left: 0;
    bottom: auto;
    background-repeat: no-repeat;
    background-position: center center; }
  .vplayer.skin_avanti .controls .timetext, .vplayer.skin_avanti .controls .volumecontrols, .vplayer.skin_avanti .controls .fscreencontrols {
    display: none; }
  .vplayer.skin_avanti .controls .mutecontrols-con {
    right: 20px;
    top: 9px;
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer; }
    .vplayer.skin_avanti .controls .mutecontrols-con .btn-mute, .vplayer.skin_avanti .controls .mutecontrols-con .btn-mute-hover, .vplayer.skin_avanti .controls .mutecontrols-con .btn-unmute, .vplayer.skin_avanti .controls .mutecontrols-con .btn-unmute-hover {
      position: absolute;
      background-position: center center;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition-property: opacity;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      -moz-transition-property: opacity;
      -moz-transition-duration: 0.3s;
      -moz-transition-timing-function: ease-out;
      -webkit-transition-property: opacity;
      -webkit-transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      -o-transition-property: opacity;
      -o-transition-duration: 0.3s;
      -o-transition-timing-function: ease-out;
      -ms-transition-property: opacity;
      -ms-transition-duration: 0.3s;
      -ms-transition-timing-function: ease-out; }
    .vplayer.skin_avanti .controls .mutecontrols-con .btn-mute {
      background-image: url(img/skinmove_mute.png); }
    .vplayer.skin_avanti .controls .mutecontrols-con .btn-mute-hover {
      background-image: url(img/skinmove_mutehover.png);
      opacity: 0; }
    .vplayer.skin_avanti .controls .mutecontrols-con .btn-unmute {
      background-image: url(img/skinmove_unmute.png);
      display: none; }
    .vplayer.skin_avanti .controls .mutecontrols-con .btn-unmute-hover {
      background-image: url(img/skinmove_unmutehover.png);
      opacity: 0;
      display: none; }
  .vplayer.skin_avanti .controls .mutecontrols-con.active .btn-mute {
    display: none; }
  .vplayer.skin_avanti .controls .mutecontrols-con.active .btn-mute-hover {
    display: none; }
  .vplayer.skin_avanti .controls .mutecontrols-con.active .btn-unmute {
    display: block; }
  .vplayer.skin_avanti .controls .mutecontrols-con.active .btn-unmute-hover {
    display: block; }
  .vplayer.skin_avanti .controls .mutecontrols-con:hover .btn-mute-hover {
    opacity: 1; }
  .vplayer.skin_avanti .controls .mutecontrols-con:hover .btn-unmute-hover {
    opacity: 1; }
.vplayer.skin_avanti .scrubbar {
  top: 18px;
  bottom: auto;
  left: 60px;
  height: 6px;
  right: auto; }
  .vplayer.skin_avanti .scrubbar .scrubBox {
    color: #111; }
  .vplayer.skin_avanti .scrubbar .scrub-bg, .vplayer.skin_avanti .scrubbar .scrub-buffer {
    background: #727272;
    bottom: auto;
    top: 0;
    height: 100%; }
  .vplayer.skin_avanti .scrubbar .scrub {
    background: #59c8ef;
    opacity: 1;
    height: 100%; }

/* skin_bluescrubtop END */
.thumb20 {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;
  margin-right: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ===========categories setup START */
.categories-videogallery {
  position: relative; }
  .categories-videogallery .the-categories-con {
    width: 100%;
    height: 38px;
    background-color: #6e7a87;
    font-family: Verdana, "Helvetica Neue", "Neue Helvetica", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #eee;
    padding: 6px 10px;
    font-weight: 300;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .categories-videogallery .the-categories-con .label-categories {
      display: inline-block;
      margin-right: 25px;
      font-size: 14px;
      position: relative;
      top: 1px; }
    .categories-videogallery .the-categories-con .a-category {
      display: inline-block;
      margin-right: 5px;
      padding: 5px 8px;
      background: #474d54;
      font-size: 10px;
      position: relative;
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      cursor: pointer;
      opacity: 0.8;
      transition-property: opacity;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      -moz-transition-property: opacity;
      -moz-transition-duration: 0.3s;
      -moz-transition-timing-function: ease-out;
      -webkit-transition-property: opacity;
      -webkit-transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      -o-transition-property: opacity;
      -o-transition-duration: 0.3s;
      -o-transition-timing-function: ease-out;
      -ms-transition-property: opacity;
      -ms-transition-duration: 0.3s;
      -ms-transition-timing-function: ease-out; }
  .categories-videogallery .gallery-precon {
    position: absolute;
    top: 38px;
    left: 0; }

.categories-videogallery .the-categories-con .a-category.active, .categories-videogallery .the-categories-con .a-category:hover {
  opacity: 1; }

/* ===========categories setup END */
.dzsas-second-con {
  position: relative;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0; }
  .dzsas-second-con .dzsas-second-con--clip {
    position: relative;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    -moz-transition-property: left;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: left;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-property: left;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease-out;
    -ms-transition-property: left;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-out; }
    .dzsas-second-con .dzsas-second-con--clip > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition-property: opacity, visibility;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      -moz-transition-property: opacity, visibility;
      -moz-transition-duration: 0.3s;
      -moz-transition-timing-function: ease-out;
      -webkit-transition-property: opacity, visibility;
      -webkit-transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      -o-transition-property: opacity, visibility;
      -o-transition-duration: 0.3s;
      -o-transition-timing-function: ease-out;
      -ms-transition-property: opacity, visibility;
      -ms-transition-duration: 0.3s;
      -ms-transition-timing-function: ease-out; }
    .dzsas-second-con .dzsas-second-con--clip > *.active {
      opacity: 1;
      visibility: visible; }

.no-transition {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: color 0 ease-in !important;
  transition: none !important; }

.wall-close {
  position: fixed;
  top: 0;
  right: 75px;
  z-index: 50006;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
  padding: 15px;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  cursor: pointer; }

.con-dzsvg-pagination {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px; }

.con-dzsvg-pagination .pagination-number {
  display: inline-block;
  margin-right: 5px;
  background: rgba(100, 100, 100, 0.8);
  color: #dadada;
  text-decoration: none;
  padding: 4px 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3); }

.con-dzsvg-pagination .pagination-number.active {
  background: #646464; }

.btn_ajax_loadmore {
  display: inline-block;
  margin-right: 5px;
  background: rgba(100, 100, 100, 0.8);
  color: #dadada;
  text-decoration: none;
  padding: 4px 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.fullscale {
  width: 100%;
  height: 100%;
  display: block; }

.bgblack {
  background: #111;
  color: #eee; }

.padding20 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px; }

.divimg {
  background-position: center center;
  background-size: cover; }

.btn-facebook-share {
  background-color: #3b5998;
  color: #fff;
  padding: 10px 15px;
  width: 200px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box; }

.btn-twitter-share {
  background-color: #55ACEE;
  color: #fff;
  padding: 10px 15px;
  width: 200px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box; }

a.btn-facebook-share:hover {
  color: inherit;
  text-decoration: inherit; }

a.btn-twitter-share:hover {
  color: inherit;
  text-decoration: inherit; }

.btn-arrow {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  opacity: 0.7; }

.btn-arrow:hover {
  opacity: 1; }

/*=== themefixes */
/* == Avada */
.vplayer .fluid-width-video-wrapper {
  height: 100%;
  padding-top: 0 !important; }

.vplayer > .iframe-embed {
  height: 100%; }
